<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
<title>Описание продуктов</title>
</head>
<body>
    <div class="topnav">
        <ul>
          <li><a href="">Знакомство</a></li>
          <li><a href="trial">Симулятор инвестиций</a></li>
          <li><a href="stocks_currency_description">Акции и Валюта</a></li>
          <li><a href="bonds_plans_description">Облигации и Структурные планы</a></li>
          <li><a href="helper">Помощь в выборе</a></li>
          <li><a href="purchase">Купить</a></li>
        </ul>
      </div>
<h1>Теперь поговорим немного о видах продуктов на рынке</h1>
<h2>Облигации</h2>
Даём в долг компании
Стабильные выплаты
Компания выплачивает долг
и % по по графику платежей 
<h4>Заработок на изменении цены самой бумаги</h4>
Когда ЦБ понижает ставку, или компания становится стабильной – стоимость облигаций повышается

<h2>Структурные продукты</h2>
<h4>
    Заранее собранный набор продуктов
    Выплаты завязаны на условия Риск ограничен условиями</h4>
В большинстве сценариев клиент получит 100% от инвестиции обратно + купон (доход), либо свои средства обратно (100%)
<h4>Конкретные сроки инвестирования</h4>
<form>
    <input type="button" onclick="window.location.href='/stocks_currency_description';" value="К рискам" />
</form>
<br>
<form>
    <input type="button" onclick="window.location.href='/purchase';" value="Купить" />
</form>
<br>
<form>
    <input type="button" onclick="window.location.href='/helper';" value="К помощнику" />
  </form>
</body>
</html>