<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/main.css">
<title>Описание инвестиционных программ</title>
</head>
<body>
  <div class="topnav">
    <ul>
      <li><a href="">Знакомство</a></li>
      <li><a href="trial">Симулятор инвестиций</a></li>
      <li><a href="stocks_currency_description">Акции и Валюта</a></li>
      <li><a href="bonds_plans_description">Облигации и Структурные планы</a></li>
      <li><a href="helper">Помощь в выборе</a></li>
      <li><a href="purchase">Купить</a></li>
    </ul>
  </div>
<h1>Здесь вы можете ознакомиться с описанием инвестиционных программ </h1>
<h3>Как видите, способов инвестировать свои средства много, и у них есть свои преимущества и недостатки.</h3>
Вы можете воспользоваться нашим <a href="/helper">помощником</a>, чтобы выбрать нужный сервис



<form action="/poll/q1">
  <input type="submit" value="На главную" />
</form>
</body>
</html>
