<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/main.css">
<title>Инвестиционный помощник</title>
</head>
<body>
  <div class="topnav">
    <ul>
      <li><a href="">Знакомство</a></li>
      <li><a href="trial">Симулятор инвестиций</a></li>
      <li><a href="stocks_currency_description">Акции и Валюта</a></li>
      <li><a href="bonds_plans_description">Облигации и Структурные планы</a></li>
      <li><a href="helper">Помощь в выборе</a></li>
      <li><a href="purchase">Купить</a></li>
    </ul>
  </div>
<h1>Как видно, пространства для вложений много, потому, чтобы помочь вам принять верное решение, мы предлагаем пройти этот опрос.</h1>
<form>
  <input type="button" onclick="window.location.href='helper/q1';" value="К опросу" />
</form>
<br>
<form>
  <input type="button" onclick="window.location.href='purchase';" value="К покупкам" />
</form>

</body>
</html>
