<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
<title>Описание продуктов</title>
</head>
<body>
    <div class="topnav">
        <ul>
          <li><a href="">Знакомство</a></li>
          <li><a href="trial">Симулятор инвестиций</a></li>
          <li><a href="stocks_currency_description">Акции и Валюта</a></li>
          <li><a href="bonds_plans_description">Облигации и Структурные планы</a></li>
          <li><a href="helper">Помощь в выборе</a></li>
          <li><a href="purchase">Купить</a></li>
        </ul>
      </div>  
<h1>Современный рынок предлагает широкий выбор предложений по каждому из четырех направлений, а мы отбираем и предлагаем самые выгодные из них</h1>
<h2>Акции</h2>
<h2>Облигации</h2>
<h2>Валюта</h2>
<h2>Структурные планы</h2>

<!-- <form>
    <input type="button" onclick="window.location.href='bonds_plans_description';" value="" />
</form>
<br>
<form>
    <input type="button" onclick="window.location.href='/purchase';" value="Купить" /> -->
</form>
</body>
</html>
