<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
<title>Описание продуктов</title>
</head>
<body>
    <div class="topnav">
        <ul>
          <li><a href="">Знакомство</a></li>
          <li><a href="trial">Симулятор инвестиций</a></li>
          <li><a href="stocks_currency_description">Акции и Валюта</a></li>
          <li><a href="bonds_plans_description">Облигации и Структурные планы</a></li>
          <li><a href="helper">Помощь в выборе</a></li>
          <li><a href="purchase">Купить</a></li>
        </ul>
      </div>  
<h1>Теперь поговорим немного о видах продуктов на рынке</h1>
<h2>Акции</h2>
<h4>Доля компании
    Дивидендные выплаты:</h4>
    Сбербанк заплатил 8.23% на свои бумаги недавно (19.10)
    <h4>Заработок на изменении цены самой бумаги:
    </h4>
    Twitter подрос на прошлой неделе на 10%
    <h4>Есть дешевые бумаги:
    </h4>
   Можно диверсифицироваться на
низком депозите
   Низкий порог входа
<h2>Валюта</h2>
<h4>Национальная валюта другой страны
    Высокая ликвидность
</h4>
Самый распростаненный и многочисленный тип продукции
Подходит для инвестиций любого объема
<br>
<br>
<form>
    <input type="button" onclick="window.location.href='bonds_plans_description';" value="К стабильности" />
</form>
<br>
<form>
    <input type="button" onclick="window.location.href='/purchase';" value="Купить" />
</form>
<br>
<form>
    <input type="button" onclick="window.location.href='/helper';" value="К помощнику" />
  </form>
</body>
</html>
