<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/main.css">
<title>Симулятор инветиций</title>
</head>
<body>
  <div class="topnav">
    <ul>
      <li><a href="">Знакомство</a></li>
      <li><a href="trial">Симулятор инвестиций</a></li>
      <li><a href="stocks_currency_description">Акции и Валюта</a></li>
      <li><a href="bonds_plans_description">Облигации и Структурные планы</a></li>
      <li><a href="helper">Помощь в выборе</a></li>
      <li><a href="purchase">Купить</a></li>
    </ul>
  </div>

    <div>
        Прежде чем обратиться к теории, опробуем этот способ вложения денег своими руками.
        У вас есть 4 компании и <b>ограниченный запас средств.</b>
    </div>
    <div>
        <b>Расперделите свои финансы на покупку акций Газпром, Лукойл, Еще 1, Еще 2,
            а мы покажем прибыль от этой операции и сравним с другими вариантами.
        </b>
    </div>
<form>
  <input type="button" onclick="window.location.href='trial/results';" value="Все готово!" />
</form>
<br>
<form>
  <input type="button" onclick="window.location.href='stocks_currency_description';" value="Двигаемся дальше" />
</form>

</body>
</html>
